<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Search user">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert text-center">
      <strong>Loading</strong>
      <br>
      <i class="fa fa-spinner fa-spin fa-5x"></i>
      <br>
      <span>Please, wait...</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Register User ( <small>123</small> )</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Image</th>
            <th>Email</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Auth</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button>
              <button class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-secondary">Prev</button>
        <button class="btn btn-secondary">Next</button>
      </div>
    </div>
  </div>
</div>
