<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input (keyup)="searchUser(input.value)" #input type="text" class="form-control" placeholder="Search user">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loadingUser">
  <div class="col-sm-12">
    <div class="alert text-center">
      <strong>Loading</strong>
      <br>
      <i class="fa fa-spinner fa-spin fa-5x"></i>
      <br>
      <span>Please, wait...</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loadingUser">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Register User ( <small>{{ registerTotal }}</small> )</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Image</th>
            <th>Email</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Auth</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td class="w-70">
              <img (click)="showModalImage( user._id )" [src]="user.img | image" alt="" class="img-50 img-circle pointer">
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>
              <select class="form-control" [(ngModel)]="user.role" name="role">
                <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                <option value="USER_ROLE">USER_ROLE</option>
              </select>
            </td>
            <td>
              <label *ngIf="user.google" class="label label-danger">Google</label>
              <label *ngIf="!user.google" class="label label-info">AppAuth</label>
            </td>
            <td>
              <button [disabled]="user._id === restricted" (click)="saveUser(user)" class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button> |
              <button [disabled]="user._id === restricted" (click)="deleteUser(user)" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <button (click)="changeFrom(-5)" class="btn btn-secondary" [disabled]="prevBut">Prev</button>
        <button (click)="changeFrom(5)" class="btn btn-secondary" [disabled]="nextBut">Next</button>
        <div class="text-center">
          <h4  *ngIf="plural && searching" class="card-subtitle"> {{ totalSearch }} users found </h4>
          <h4  *ngIf="!plural && searching" class="card-subtitle"> {{ totalSearch }} user found </h4>
        </div>
      </div>
    </div>
  </div>
</div>
